.song-item-row {
    transition: background-color 0.2s;
}

.song-item-row:hover {
    background-color: #f0f8ff;
}

.song-item-row td {
    vertical-align: middle;
}

.song-item-date {
    color: #666;
    font-size: 0.85rem;
}

.song-item-actions {
    white-space: nowrap;
}